/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */
    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

    /* ====================
        WIDE: CSS3 Effects
       ==================== */
    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    /* ============
        WIDE: Menu
       ============ */
    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

    /* ============
        WIDE: Main
       ============ */
    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

    /* ===============
        Maximal Width
       =============== */
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

html {
    font-size: 14px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #131313;
    margin: 0;
    padding: 0;
    background: url(../img/banniere-back.png) no-repeat 50% 0;
    overflow: hidden;
}

.wrapper {
    height: 100vh;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 1rem auto;
    width: 90%;
    text-align: center;
}

.wrapper h2 {
    padding: 0;
    margin: 0;
    color: #101010;
    font-size: 2rem;
    font-weight: 900;
}

.wrapper h2.choix {
    margin-bottom: 2rem;
}

.wrapper h2 img {
    width: 100%;
}

.textes-infos {
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    overflow: hidden;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
}

.textes-infos.info3, .textes-infos.back {
    display: none;
}

.running .textes-infos.info1 {
    display: none;
}

.running .textes-infos.info2 {
    display: block;
}

.running .textes-infos.info3 {
    display: none;
}

.running .textes-infos.back {
    display: block;
}

.moving .textes-infos.info1 {
    display: none;
}

.moving .textes-infos.info2 {
    display: none;
}

.moving .textes-infos.info3 {
    display: block;
}

.moving .textes-infos.back {
    display: block;
}

.button {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: -9999px;
    cursor: pointer;
    border: 0;
    margin: 0 auto;
    border: none;
    background: none;
    padding: 0;
}

.button1 {
    background: url(../img/cestparti.png) no-repeat 50% 50%;
    background-size: contain;
    width: 10rem;
    height: 3rem;
    margin-top: 1rem;
}

.picturewrapper {
    display: flex;
    margin: 1rem auto;
}

.moving .picturewrapper, .running .picturewrapper {
    display: block;
    text-align: center;
}

.camera {
    width: 30vw;
    height: 30vw;
    background-size: cover !important;
}

.moving .camera {
    display: none;
}

.camera input {
    display: block;
    width: 100%;
    height: 100%;
    appearance: none;
    opacity: 0;
    outline: none;
    cursor: pointer;
}

.camera span {
    display: none;
}

.mockup {
    position: absolute;
    bottom: 0;
    left: -5rem;
    width: 80%;
    height: auto;
}

.minilogo {
    position: absolute;
    bottom: 2rem;
    right: 1rem;
    width: 5rem;
}

.minilogo.bottom {
    left: 50%;
    right: auto;
    transform: translate(-50%);
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 100%;
    margin-top: -11px;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 100%;
    margin-top: -11px;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 100%;
    margin-top: -11px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #000;
    border-radius: 0;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #000;
    border-radius: 0;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #000;
    border-radius: 0;
}

.brow {
    width: 139px;
    height: 139px;
    background: url(../img/yeux.png) no-repeat 0 0;
    transform: scale(0.3);
    margin: -50px;
    flex-shrink: unset;
}

.brow, .values {
    opacity: 0.5;
}

.button.values {
    text-indent: 0;
    color: #101010;
}

.actives, .activev {
    opacity: 1;
}

header.tag {
    width: 100%;
    height: 62px;
    background: #ffe1df;
    overflow: hidden;
    position: relative;
}

.tag h2 {
    line-height: 62px;
    margin: 0 0 0 0.5rem;
    font-size: 1.4rem;
}

.tag img {
    position: absolute;
    right: 1%;
    top: 50%;
    margin-top: -30px;
    transform-origin: 50% 50%;
    transform: scale(0.8);
}

.ui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: calc(100vh - 62px);
    width: 100%;
}

#thecanvas {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    position: relative;
}

#thecanvas canvas {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.5);
}

.aside {
    height: 50%;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border: 3px solid #000;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.aside header {
    width: 100%;
    background: #101010;
    height: 50px;
    display: flex;
    justify-content: space-between
}

.aside header .button {
    height: 50px;
    color: #fff;
    text-indent: 0;
    font-size: 0.8rem;
}

.eyes {
    margin: 0 auto;
    width: 293px;
    height: calc(100% - 172px);
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside footer {
    width: 100%;
    background: #fff;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.rangewrapper {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffe1df;
    text-align: center
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    .mockup {
        display: none;
    }

    .picturewrapper {
        justify-content: space-around;
    }

    .camera {
        width: 20vh;
        height: 20vh;
        background-size: cover !important;
        margin: auto;
    }

    .upload {
        margin-right: 0
    }

    .upload {
        margin-right: 0
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 18px;
        height: 100%;
    }

    body {
        height: 100%;
    }

    .wrapper {
        height: 100%;
        width: 45vw;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 2rem 2rem 0 auto;
        text-align: left;
    }

    .wrapper h2.choix {
        margin: 2rem auto;
        text-align: center;
        font-size: 1.333rem;
        text-transform: uppercase;
    }

    .wrapper .info1, .wrapper .info2, .wrapper .info3, .wrapper .back {
        max-width: 70vw;
        margin: 0 auto;
        text-align: center
    }

    .popup {
        width: 100%;
    }

    .textes-infos {
        text-align: left;
        font-size: 1rem;
    }

    .button1 {
        margin-top: 0;
    }

    .camera {
        max-width: 160px;
        max-height: 160px;
    }

    .picturewrapper {
        max-width: 522px;
        margin: 5vh auto;
    }

    .mockup {
        width: 60vw;
        max-width: 20rem;
        left: -55vw;
        height: auto;
    }

    .minilogo {
        right: -2vw;
        width: 5rem;
    }

    .minilogo.bottom {
        right: auto;
        width: 30vw;
    }

    .brow {
        width: 139px;
        height: 139px;
        background: url(../img/yeux.png) no-repeat 0 0;
        transform: none;
        margin: 0;
        flex-shrink: unset;
    }

    .tag img {
        margin-top: -30px;
        transform: none;
    }

    .ui {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    #thecanvas {
        flex-shrink: unset;
        flex-grow: 1;
        width: 50%;
        height: 100%;
        display: block;
        text-align: left;
    }

    #thecanvas canvas {
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 50% 0;
        transform: none;
    }

    .aside {
        max-width: 350px;
        height: 100%;
        width: 50%;
        background: rgba(255, 255, 255, 0.5);
        position: relative;
    }

    .eyes {
        margin: 0 auto;
        width: 293px;
        height: calc(100% - 172px);
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 22px;
    }

    .mockup {
        width: auto;
        max-width: none;
        left: -55vw;
        height: 60%;
    }
}
